.title{
    color: whitesmoke;
}
.form{
    color: whitesmoke;
    display: grid;
    gap: 1rem;
}
.form input{
    padding: 0.4rem;
}
.form label{
    display: grid;
    place-items: start;
    gap: 0.4rem;
}
.form .submit-btn{
    all: unset;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: grid;
    place-self: center;
}
.form .submit-btn:hover{
    color: #584B53;
    background-color: white;
}
.form-info{
    color: white;
    cursor: pointer;
}
.form-info:hover{
    text-decoration: underline;
}
.form .date{
   width: -webkit-fill-available;
}