.default-main.cart-main{
    display: grid;
    align-content: start;
    height: 86vh;
}

.default-container.cart-container{
    display: grid;
    place-content: center;
}

.cart-list__item{
   display: grid;
   grid-template-columns: auto 400px auto auto;
   align-items: start;
   gap: 3rem;
   border-top: .0625rem solid #d5d5d5;
   border-bottom: .0625rem solid #d5d5d5;
   padding: 1rem 0rem;
}
.cart-list__item img{
    width: 200px;
}
.remove-btn img{
    width: 15px;
}
.cart-products{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
    gap: 2rem;
}
.cart-checkout{
    border: .0625rem solid #d5d5d5;
    padding: 1rem;
    display: grid;
    width: 300px;
    align-self: start;
    gap: 1rem;
}
.cart-item__price span{
    color: #adadad;
    font-weight: 200;
}
.cart-checkout h4{
    display: grid;
    grid-auto-flow: column;
    place-content: space-between;
}

.checkout-btn p{
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
    place-content: center;
}
.checkout-btn img {
    width: 20px;
}
.no-items-container{
    display: grid;
    place-content: center;
    height: 76vh;
    gap: 1rem;
}
.no-items-container .continue-shopping-btn{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #d6e3f8;
    background-color: #9D5C63;
}
.card-info-quantity{
    display: grid;
    gap: 1rem;
}
.card-info-quantity select{
    display: grid;
    width: min-content;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
.card-info-quantity select:focus{
    border-color: #9D5C63;
}
.shipping-day-info{
    color: #247e0c;
    font-size: .75rem;
}
.remove-btn{
    all: unset;
    cursor: pointer;
}