.default-main.profile-main{
    display: grid;
    place-content: center;
    height: 86.8vh;
}
.default-container.profile-container{
    background-color: unset;
}
.profile-list-choice{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    list-style: none;
    gap: 1rem;
    
}
.profile-list-choice__item{
    display: grid;
    border-radius: 1rem;
    font-size: 20px;
    cursor: pointer;
    place-items: center;
    background-color: #d6e3f8;
    gap: 1rem;
    font-weight: bold;
}
.profile-list-choice__item a{
    color: inherit;
    padding: 5rem;
    text-decoration: none;
}
.go-back-btn{
    background-color: #d6e3f8;
    margin: 1rem 1rem;
}