
header{
    background-color: #D6E3F8;
    display: grid;
    color: #584B53;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 1rem;
    place-content: space-between;
    align-items: center;
}
.official-logo{
    min-width: 200px;
}
.search {
    border: 1px solid #b5b5b5;
    display: grid;
    grid-template-columns: 1fr auto;
    place-items: center;
    width: 500px;
}

.search input{
    outline: none;
    padding: 0.8rem;
    width: 100%;
    border: none;
    background: none;
    background-color: white;
}
.search-icon{
    background-color: white;
    cursor: pointer;
}
.right-side{
    display: grid;
    place-items: end;
}
.right-side__list{
    list-style-type: none;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    place-items: center;
}
.cart-btn{
    all: unset;
    background-color: #9D5C63;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.official-logo{
    cursor: pointer;
}
.cart-btn-container{
    position: relative;
}
.products-on-card{
    position: absolute;
    font-weight: bold;
    background-color: #D6E3F8;
    color: #9D5C63;
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;
    border-radius: 1rem;
    right: 8px;
    top: 3px;
    cursor: pointer;
}