header{
    background-color: #D6E3F8;
    display: grid;
    color: #584B53;
    grid-template-columns: auto 1fr;
    padding: 1rem;
    align-items: center;
}
.right-side{
    display: grid;
    place-items: end;
}
.right-side__list{
    list-style-type: none;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    place-items: center;
}
.cart-btn{
    all: unset;
    background-color: #9D5C63;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.official-logo{
    cursor: pointer;
}
.cart-btn-container{
    position: relative;
}
.products-on-card{
    position: absolute;
    font-weight: bold;
    background-color: #D6E3F8;
    color: #9D5C63;
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;
    border-radius: 1rem;
    right: 8px;
    top: 3px;
    cursor: pointer;
}